@{
    ViewData["Title"] = "Admin Page";
}

@model List<Album> 
@{
    var userId = Context.Session.GetInt32("UserID");
    var username = Context.Session.GetString("UserName");
}

<link rel="stylesheet" href="~/css//adminpage.css" />

<div class="navigation-bar">
    <h5>Welcome,</h5>
    <h5 style="margin-bottom: 40px">@username !</h5>
    <a asp-controller="Admin" asp-action="AdminPage"><i class="fa-solid fa-home"></i>Home</a>
    <a href="#" class="add-album-button"><i class="fa-solid fa-plus"></i>Add</a>
    <a href="#" class="update-album-button"><i class="fa-solid fa-pen"></i>Update</a>
    <a asp-controller="Admin" asp-action="GenerateReports"><i class="fa-solid fa-file-circle-check"></i>Generate Report</a>
    <a asp-controller="Product" asp-action="UserProfile"><i class="fa-solid fa-user"></i>View Profile</a>
    <form method="get" asp-controller="Home" asp-action="Logout">
        <a asp-controller="Home" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    </form>




</div>

<div class="search-bar">
    <form asp-action="SearchAlbum" asp-controller="Admin" method="get" class="form-inline">
        <input  name="searchAlbumId" class="form-control mr-sm-2" type="search" placeholder="Search by Album ID" aria-label="Search">
        <button class="btn btn-outline-success d-flex justify-content-center align-items-center my-sm-0" type="submit">Search</button>
    </form>
</div>

<div class="product-container">
    @foreach (var album in Model)
    {
        <div class="product">
            <img src="https://placekitten.com/50/56" alt="Album Cover">
            <div class="product-details">
                <h3>@album.albumName</h3>
                <p>Album ID: @album.albumID</p>
                <p>Artist: @album.artistName</p>
                <p>Price: ₹@album.albumPrice.ToString("0.00")</p>
                <p>Rating: <span>@album.albumRating</span>/5</p>
                <p>Genre: <span>@album.albumGenre</span></p>

            </div>
            <button type="submit" class="delete-button" style="margin-left: 10px" onclick="openDeleteModal('@album.albumID')">Delete</button>
        </div>
    }
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="error-message">
            @ViewData["ErrorMessage"]
        </div>
    }
</div>





<div id="addAlbumModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form method="put" asp-action="UpdateAlbum" asp-controller="Admin">
            <div>
                <label for="newAlbumName">Album Name:</label>
                <input type="text" class="newAlbum" name="albumName" required />
            </div>
            <div>
                <label for="newArtistName">Artist Name:</label>
                <input type="text" class="newAlbum" name="artistName" required />
            </div>
            <div>
                <label for="newAlbumPrice">Album Price:</label>
                <input type="number" class="newAlbum" name="albumPrice" step="0.01" required />
            </div>

            <div>
                <label for="newAlbumRating">Album Rating:</label>
                <input type="number" class="newAlbum" name="albumRating" step="0.01" required />
            </div>

            <div>
                <label for="newAlbumRating">Album Genre:</label>
                <input type="text" class="newAlbum" name="albumGenre" required />
            </div>

            <button type="submit" class="add-to-cart">Add Album</button>
        </form>
    </div>
</div>










<div id="updateAlbumModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form method="post" asp-action="UpdateAlbum" asp-controller="Admin">
            <div>
                <label for="updatedAlbumName">Album ID:</label>
                <input type="text" class="updatedAlbum" name="albumID" required />
            </div>
            <div>
                <label for="updatedAlbumName">Album Name:</label>
                <input type="text" class="updatedAlbum" name="albumName" required />
            </div>
            <div>
                <label for="updatedArtistName">Artist Name:</label>
                <input type="text" class="updatedAlbum" name="artistName" required />
            </div>
            <div>
                <label for="updatedAlbumPrice">Album Price:</label>
                <input type="number" class="updatedAlbum" name="albumPrice" step="0.01" required />
            </div>

            <div>
                <label for="updatedAlbumRating">Album Rating:</label>
                <input type="number" class="updatedAlbum" name="albumRating" step="0.01" required />
            </div>

            <div>
                <label for="updatedAlbumRating">Album Genre:</label>
                <input type="text" class="updatedAlbum" name="albumGenre" required />
            </div>

            <button type="submit" class="add-to-cart">Update Album</button>
        </form>
    </div>
</div>




<div id="deleteAlbumModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDeleteModal()">&times;</span>
        <form method="post" asp-action="DeleteAlbum" asp-controller="Admin">
            <input type="hidden" id="deleteAlbumID" name="albumID" />
            <p>Are you sure you want to delete this album?</p>
            <button type="submit" class="add-to-cart" formmethod="post">Delete Album</button>
        </form>
    </div>
</div>




<script>
    var modal = document.getElementById("addAlbumModal");

    var btn = document.getElementsByClassName("add-album-button")[0];
    function closeModal() {
        modal.style.display = "none";
    }
    btn.onclick = function () {
        modal.style.display = "block";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal();
        }
    }




    var modal2 = document.getElementById("updateAlbumModal");

    var btn2 = document.getElementsByClassName("update-album-button")[0];
    
    var btn2 = document.getElementsByClassName("update-album-button")[0];

    btn2.onclick = function () {
        modal2.style.display = "block";
    }
    function closeModal2() {
        modal2.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal2) {
            closeModal2();
        }
    }





    function openDeleteModal(albumID) {
        var deleteModal = document.getElementById("deleteAlbumModal");
        deleteModal.style.display = "block";

        var deleteAlbumIDInput = document.getElementById("deleteAlbumID");
        deleteAlbumIDInput.value = albumID;
    }

    function closeDeleteModal() {
        var deleteModal = document.getElementById("deleteAlbumModal");
        deleteModal.style.display = "none";
    }

    window.onclick = function (event) {
        var deleteModal = document.getElementById("deleteAlbumModal");
        if (event.target == deleteModal) {
            closeDeleteModal();
        }
    }
   
</script>
